@import ../../globals


.edit-user-container
  width: 90vw
  max-width: 400px
  margin: auto

.edit-user-title
  font-size: 2rem
  margin-bottom: 20px

.edit-user-field-container
  width: 100%
  max-width: 400px
  margin: auto

.edit-user-field
  width: 100%

.edit-user-button-panel
  width: 100%
  align-content: center

.edit-user-button
  background-color: $accent-blue
  font-size: 1.0625rem
