<div class="edit-user-title">
  {{edit ? 'Edit User Information' : 'Create New User'}}
</div>
<div class="edit-user-container">
  <div class="edit-user-field-container">
    <mat-form-field class="edit-user-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="text" [(ngModel)]="user.email" [disabled]="edit">
    </mat-form-field>
  </div>
  <div class="edit-user-field-container">
    <mat-form-field class="edit-user-field" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="user.full_name">
    </mat-form-field>
  </div>
  <div class="edit-user-field-container">
    <mat-form-field class="edit-user-field" appearance="fill">
      <mat-label>Name</mat-label>
      <mat-select [(value)]="user.role_id">
        <mat-option *ngFor="let option of roles" [value]="option.value">
          {{option.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="edit-user-button-panel" mat-dialog-actions *ngIf="edit">
    <button mat-stroked-button [mat-dialog-close]="">
      Cancel
    </button>
    <button mat-raised-button class="edit-user-button" (click)="updateUserData()">
      Update
    </button>
    <button mat-raised-button class="remove-user-button" (click)="deleteUser()">
      Remove
    </button>
    <div class="edit-user-busy-spinner">
      <mat-icon class="spin" *ngIf="busy">autorenew</mat-icon>
    </div>
  </div>

  <div class="edit-user-button-panel" mat-dialog-actions *ngIf="create">
    <button mat-stroked-button [mat-dialog-close]="">
      Cancel
    </button>
    <button mat-raised-button class="edit-user-button" (click)="createUser()">
      Create
    </button>
    <div class="edit-user-busy-spinner">
      <mat-icon class="spin" *ngIf="busy">autorenew</mat-icon>
    </div>
  </div>


</div>
