<div class="edit-model-config-title">
  {{edit ? 'Edit WRF Configuration' : 'Create WRF Configuration'}}
</div>
<div class="edit-model-config-container">
  <div class="edit-model-config-field-container">
    <mat-form-field class="edit-model-config-field" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="modelConfig.name" [disabled]="edit">
    </mat-form-field>
  </div>
  <div class="edit-model-config-field-container">
    <mat-form-field class="edit-model-config-field" appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput type="text" [(ngModel)]="modelConfig.description">
    </mat-form-field>
  </div>
  <div class="edit-model-config-field-container">
    <input class="edit-model-config-hidden-file-input" type="file" id="wps-namelist-file" (change)="fileSelected($event, 'wps')">
    <mat-form-field class="edit-model-config-field" appearance="fill">
      <mat-label>WPS Namelist</mat-label>
      <textarea [rows]="modelConfig.wps_namelist?6:1" matInput [(ngModel)]="modelConfig.wps_namelist"></textarea>
      <button mat-stroked-button (click)="loadNamelistFile('wps')">Load File</button>
    </mat-form-field>
  </div>
  <div class="edit-model-config-field-container">
    <input class="edit-model-config-hidden-file-input" type="file" id="wrf-namelist-file" (change)="fileSelected($event, 'wrf')">
    <mat-form-field class="edit-model-config-field" appearance="fill">
      <mat-label>WRF Namelist</mat-label>
      <textarea [rows]="modelConfig.wrf_namelist?6:1" matInput [(ngModel)]="modelConfig.wrf_namelist"></textarea>
      <button mat-stroked-button (click)="loadNamelistFile('wrf')">Load File</button>
    </mat-form-field>
  </div>
  <div class="edit-model-config-field-container edit-model-config-shaded">
    <div class="edit-model-config-slider-label">Core Count: {{autoCoreCount ? 'auto' : modelConfig.core_count}}</div>
    <mat-checkbox class="edit-model-config-checkbox" color="primary" [(ngModel)]="autoCoreCount">Set automatically</mat-checkbox>
    <mat-slider
      *ngIf="!autoCoreCount"
      class="edit-model-config-slider"
      min="1"
      max="96"
      step="1"
      thumbLabel
      [(ngModel)]="modelConfig.core_count">
    </mat-slider>
  </div>
</div>

<div class="edit-model-config-button-panel" mat-dialog-actions *ngIf="edit">
  <button mat-stroked-button [mat-dialog-close]="">
    Cancel
  </button>
  <button mat-raised-button class="edit-model-config-button" (click)="updateModelConfiguration()">
    Update
  </button>
  <button mat-raised-button class="remove-model-config-button" (click)="deleteModelConfiguration()">
    Remove
  </button>
  <div class="edit-model-config-busy-spinner">
    <mat-icon class="spin" *ngIf="busy">autorenew</mat-icon>
  </div>
</div>

<div class="edit-model-config-button-panel" mat-dialog-actions *ngIf="create">
  <button mat-stroked-button [mat-dialog-close]="">
    Cancel
  </button>
  <button mat-raised-button class="edit-model-config-button" (click)="createModelConfiguration()">
    Create
  </button>
  <div class="edit-model-config-busy-spinner">
    <mat-icon class="spin" *ngIf="busy">autorenew</mat-icon>
  </div>
</div>
