<div class="launch-container">
  <div class="launch-title">
    Launch WRF Model
  </div>

  <div class="launch-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Model Configuration</mat-label>
      <mat-select [(ngModel)]="req.configuration_name">
        <mat-option *ngFor="let option of modelConfigOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="launch-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Job Name</mat-label>
      <input matInput type="text" [(ngModel)]="req.job_name" autofocus>
    </mat-form-field>
  </div>

  <div class="launch-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Cycle Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="start_time">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="launch-input-container launch-cycle-hour-container">
    <mat-label class="launch-cycle-hour-label">Cycle Hour</mat-label>
    <mat-radio-group [(ngModel)]="cycleHour">
      <mat-grid-list cols="2" rowHeight="25px">
        <mat-grid-tile *ngFor="let hour of cycleHourOptions" class="launch-cycle-hour-button">
          <mat-radio-button color="primary" [value]="hour">
            {{hour}} UTC
          </mat-radio-button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-radio-group>
  </div>

  <div class="launch-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Forecast Length</mat-label>
      <input matInput type="text" [(ngModel)]="req.forecast_length">
    </mat-form-field>
  </div>

  <div class="launch-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Output Frequency</mat-label>
      <input matInput type="text" [(ngModel)]="req.output_frequency">
    </mat-form-field>
  </div>

  <div class="launch-input-container">
    <mat-checkbox [(ngModel)]="req.notify" labelPosition="after">
      Notify when complete
    </mat-checkbox>
  </div>

  <div class="launch-input-container">
    <button mat-raised-button class="launch-button" color="primary" (click)="startWrf()" [disabled]="busy">
      Launch
    </button>
  </div>
</div>
