
<div class="launch-container">
  <div class="launch-title">
    Launch WRF Model
  </div>

  <div class="launch-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Job Name</mat-label>
      <input matInput type="text" [(ngModel)]="req.job_name" autofocus>
    </mat-form-field>
  </div>

  <div class="launch-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Cycle Date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="launch-input-container launch-cycle-hour-container">
    <mat-label>Cycle Hour</mat-label>
    <mat-radio-group [(ngModel)]="cycleHour">
      <div class="launch-cycle-hour-button-container">
        <mat-radio-button *ngFor="let hour of cycleHourOptions; index as i" [value]="hour" style="column">
          {{hour}} UTC
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>

  <div class="launch-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Forecast Length</mat-label>
      <input matInput type="text" [(ngModel)]="req.forecast_length">
    </mat-form-field>
  </div>

  <div class="launch-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Output Frequency</mat-label>
      <input matInput type="text" [(ngModel)]="req.output_frequency">
    </mat-form-field>
  </div>

  <div class="launch-input-container">
    <mat-checkbox [(ngModel)]="req.notify" labelPosition="after">
      Notify when complete
    </mat-checkbox>
  </div>

  <div class="launch-input-container">
    <button mat-raised-button class="launch-button" color="primary">
      Launch
    </button>
  </div>
</div>

{{req.configuration_name}}
