<div class="reset-container">

  <div class="reset-title">
    WRF Cloud Password Recovery
  </div>

  <div class="reset-input-container" >
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="password" [(ngModel)]="request.new_password" (keyup)="validate()">
      @if (request.new_password) {
        <button matSuffix mat-icon-button (click)="request.new_password=''">
          <mat-icon>clear</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>

  <div class="reset-input-container" >
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" [(ngModel)]="confirmPassword" (keyup)="validate()">
      @if (confirmPassword) {
        <button matSuffix mat-icon-button (click)="confirmPassword=''">
          <mat-icon>clear</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>

  <div class="reset-input-container">
    <button mat-raised-button class="reset-button" (click)="doReset()" [disabled]="!valid">
      Reset Password
    </button>
  </div>

  @if (showMatchError) {
    <div class="reset-error">
      New passwords do not match
    </div>
  }
  @if (showLengthError) {
    <div class="reset-error">
      Minimum length must be 10 characters
    </div>
  }
  @if (busy) {
    <div class="reset-spinner">
      <mat-icon class="spin">autorenew</mat-icon>
    </div>
  }
  @if (success) {
    <div class="reset-success">
      Password changed successfully<br/>
      Redirecting to login...
    </div>
  }
</div>
