<div class="reset-container">

  <div class="reset-title">
    WRF Cloud Password Recovery
  </div>

  <div class="reset-input-container" >
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="password" [(ngModel)]="request.new_password" (keyup)="validate()">
      <button *ngIf="request.new_password" matSuffix mat-icon-button (click)="request.new_password=''">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="reset-input-container" >
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" [(ngModel)]="confirmPassword" (keyup)="validate()">
      <button *ngIf="confirmPassword" matSuffix mat-icon-button (click)="confirmPassword=''">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="reset-input-container">
    <button mat-raised-button class="reset-button" (click)="doReset()" [disabled]="!valid">
      Reset Password
    </button>
  </div>

  <div class="reset-error" *ngIf="showMatchError">
    New passwords do not match
  </div>
  <div class="reset-error" *ngIf="showLengthError">
    Minimum length must be 10 characters
  </div>
  <div class="reset-spinner" *ngIf="busy">
    <mat-icon class="spin">autorenew</mat-icon>
  </div>
  <div class="reset-success" *ngIf="success">
    Password changed successfully<br/>
    Redirecting to login...
  </div>
</div>
