@import '../../globals'

.log-viewer-title
  font-size: 1.1rem
  font-weight: bold
  margin-bottom: 12px

.log-viewer-container
  display: flex
  font-size: 1rem
  height: 75vh
  max-height: 700px
  width: 70vw
  max-width: 800px

.log-viewer-mobile-select
  display: block

.log-viewer-show-mobile
  display: inherit

.log-viewer-log-content
  display: grid
  width: 100%
  height: 100%

.log-viewer-display
  display: block
  width: 100%
  height: 100%

.log-viewer-textarea
  height: 60vh
  min-width: 100%

.log-viewer-button-panel
  display: block

.log-viewer-busy
  float: right
  position: relative
  top: 5px
  left: -6px

.log-viewer-cancel-button
  float: right
  margin-bottom: 5px

.log-viewer-tree-node
  padding-left: 50px !important

.log-viewer-tree-node:current
  background-color: $background-emphasize

@media screen and (min-width: 840px)

  .log-viewer-mobile-select
    display: none

  .log-viewer-desktop-select
    float: left
    display: block
    overflow: scroll
    width: 30%

  .log-viewer-show-mobile
    display: none
