<div class="log-viewer-title">
  Log Viewer
</div>
<div class="log-viewer-container">
  <div class="log-viewer-mobile-select">
    <mat-form-field>
      <mat-label>Select Log File</mat-label>
      <mat-select [(ngModel)]="selectedLogFile" (ngModelChange)="updateLogContent()">
        <mat-option *ngFor="let logFile of logFiles | keyvalue" [value]="logFile.key">
          {{logFile.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="log-viewer-desktop-select">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="setAndUpdateLogFile(node)">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        {{node.name}}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>
  </div>

  <mat-form-field class="log-viewer-display" appearance="fill">
    <mat-label>Log File Content</mat-label>
    <textarea matInput type="text" disabled="true" class="log-viewer-textarea">{{logContent}}</textarea>
  </mat-form-field>

</div>

<div class="log-viewer-button-panel" mat-dialog-actions>
  <button mat-stroked-button class="log-viewer-cancel-button" [mat-dialog-close]="">
    Exit
  </button>
  <div class="log-viewer-busy-spinner">
    <mat-icon class="spin" *ngIf="busy">autorenew</mat-icon>
  </div>
</div>
