@import '../../globals'

.log-viewer-mobile-select
  display: block

.log-viewer-desktop-select
  display: none

.log-viewer-container
  display: grid
  font-size: 1rem
  max-height: 75vh
  width: 100vw
  max-width: 500px
  overflow-y: scroll

.log-viewer-title
  font-size: 1.1rem
  font-weight: bold
  margin-bottom: 12px

.log-viewer-title-status
  color: $dark-gray
  font-style: italic

.log-viewer-progress-bar
  margin-bottom: 8px

.log-viewer-busy
  text-align: center

.log-viewer-buttons
  margin-bottom: 16px

.log-viewer-action-button
  background-color: $background-warn
  margin-right: 8px

.log-viewer-open-button
  background-color: $background-edit
  color: $text-contrast

.log-viewer-cancel-button
  float: right

.log-viewer-input
  font-size: 1.3rem

.log-viewer-right
  float: right

@media screen and (min-width: 840px)

  .log-viewer-mobile-select
    display: none

  .log-viewer-desktop-select
    display: block
