<div class="log-viewer-title">
  Log Viewer
</div>
<div class="log-viewer-container">
  <div class="log-viewer-mobile-select">
    <mat-form-field>
      <mat-label>Select Log File</mat-label>
      <mat-select [(ngModel)]="selectedLogFile" (ngModelChange)="updateLogContent()">
        <mat-option *ngFor="let logFile of logFiles | keyvalue" [value]="logFile.key">
          {{logFile.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" class="log-viewer-desktop-select" opened>
      <div class="log-viewer-table-container">
        <table mat-table [dataSource]="dataSource" [(ngModel)]="selectedLogFile" (ngModelChange)="updateLogContent()" matSort class="log-viewer-user-table">
          <ng-container matColumnDef="log_name" class="log-viewer-log-table-cell">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Select Log File</th>
            <td mat-cell *matCellDef="let item"> {{item.name}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="app.isMobile ? mobileColumns : desktopColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: (app.isMobile ? mobileColumns : desktopColumns);"></tr>
          <!--<tr mat-row *matRowDef="let row; columns: (app.isMobile ? mobileColumns : desktopColumns);" (click)="updateLogContent()"></tr>-->
        </table>
<!--        <mat-paginator [pageSizeOptions]="[app.isMobile ? 5 : 8]" showFirstLastButtons #paginator>-->
<!--        </mat-paginator>-->
      </div>

    </mat-drawer>
    <mat-drawer-content>
      <mat-form-field class="log-viewer-display" appearance="fill">
        <mat-label>Log File Content</mat-label>
        <textarea matInput type="text" disabled="true">{{logContent}}</textarea>
      </mat-form-field>
    </mat-drawer-content>
  </mat-drawer-container>

</div>

<div class="log-viewer-button-panel" mat-dialog-actions>
  <button mat-stroked-button class="log-viewer-cancel-button" [mat-dialog-close]="">
    Cancel
  </button>
  <div class="log-viewer-busy-spinner">
    <mat-icon class="spin" *ngIf="busy">autorenew</mat-icon>
  </div>
</div>
