@import '../../globals'

.log-viewer-mobile-select
  display: block

.log-viewer-desktop-select
  display: none

.log-viewer-textarea
  display: grid

.log-viewer-display
  display: grid

.log-viewer-container
  display: grid
  font-size: 1rem
  max-height: 75vh
  width: 100vw
  max-width: 500px
  overflow-y: scroll

.log-viewer-title
  font-size: 1.1rem
  font-weight: bold
  margin-bottom: 12px

.log-viewer-busy
  text-align: center

.log-viewer-cancel-button
  float: right

@media screen and (min-width: 840px)

  .log-viewer-mobile-select
    display: none

  .log-viewer-desktop-select
    float: left
    display: block
