<div class="viewer-mobile-container" *ngIf="app.isMobile && !forceMobile">
  <div class="viewer-mobile-text">
    This app has not been optimized to view model output on a mobile
    device.  Click the button below if you still want to see it and
    have a terrible user experience.
  </div>
  <div class="viewer-mobile-button-container">
    <button class="viewer-mobile-button" mat-raised-button color="primary" (click)="forceMobile = true">
      Show me anyway <mat-icon>tag_faces</mat-icon>
    </button>
  </div>
</div>

<div class="viewer-container" [class.viewer-hide]="app.isMobile && !forceMobile">
  <div *ngIf="job !== undefined">
    <div class="viewer-mid-panel">
      <span class="viewer-height-selector">
        <mat-slider
          class="viewer-height-selector-widget"
          color="primary"
          [(ngModel)]="req.height"
          [min]="validHeights[0]"
          [max]="validHeights[validHeights.length - 1]"
          [step]="1"
          [invert]="true"
          [thumbLabel]="true"
          [vertical]="true"
          [displayWith]="pressureLabel.bind(this)"
          (change)="heightChanged($event)">
        </mat-slider>
        <span class="viewer-height-selector-label">Pressure Level (mb)</span>
      </span>
      <span class="viewer-height-selector-value-label-container">
        <div class="viewer-height-selector-value-label" *ngFor="let value of validHeights; let i = index;" [style]="'top: calc(' + ((value-100)*0.11111) + '% - ' + i + '*1.25rem - 0.65rem'">
          {{value}}
        </div>
      </span>
      <div id="map" class="map"></div>
      <span class="viewer-layers">
        <div class="viewer-political-layer">
          <mat-checkbox class="layer-checkbox" color="primary" [(ngModel)]="politicalBoundariesVisible" (change)="togglePoliticalBoundaries()">
            Political Boundaries
          </mat-checkbox>
        </div>
        <app-layer *ngFor="let layerGroup of layerGroups" [layerGroup]="layerGroup">
        </app-layer>
      </span>
    </div>
    <div class="viewer-lower-panel">
      <span class="viewer-animate-tool">
        <mat-grid-list [cols]="animationControls.length" rowHeight="40px">
          <mat-grid-tile
            [id]="button"
            *ngFor="let button of animationControls"
            [class]="'viewer-anim-button viewer-anim-button-' + button"
            (click)="doAnimate($event, button)"
            matRipple
          >
          </mat-grid-tile>
        </mat-grid-list>
        <mat-slider
          invert="true"
          max="3000"
          min="100"
          step="100"
          [(ngModel)]="animationDelayMs"
          aria-labelledby="Animation speed">
      </mat-slider>
        <span class="viewer-anim-speed-label viewer-left">SLOW</span>
        <span class="viewer-anim-speed-label viewer-right">FAST</span>
      </span>
      <span class="viewer-anim-time-slider">
        <div>{{selectedFrameMs | date:'yyyy-MM-dd HH:mm:ss O':'UTC'}}</div>
        <mat-slider *ngIf="animationFrames.length > 0"
          class="viewer-wide-center"
          [min]="animationFrames[0].getTime()"
          [max]="animationFrames[animationFrames.length - 1].getTime()"
          step="100"
          [(ngModel)]="selectedFrameMs"
          (change)="doSelectNearestFrame()"
          aria-labelledby="Animation speed">
      </mat-slider>
      </span>
    </div>
  </div>
</div>
