@import ../globals


.app-header
  width: 100%
  min-height: 50px
  background-image: linear-gradient($bg-dark-1, $bg-dark-2)

.app-menubar-item
  font-size: 2.0rem
  color: $text-color

.app-menubar-item :hover
  text-decoration: underline

.app-cloud-icon
  width: 70px

.app-login-button
  background: $accent-green
  width: 70%
  padding: 7px 0
  font-weight: bold
  font-size: 1.25rem
