<div class="app-desktop-menu" (window:resize)="windowResized($event)">
  <div class="app-header">
    <mat-grid-list [cols]="menuOptions.length + 2" rowHeight="75px">
      <mat-grid-tile class="app-menubar-item" (click)="routeTo('')" mat-ripple>
        <img class="app-cloud-icon" src="../assets/cloud.png">
      </mat-grid-tile>
      <mat-grid-tile
        *ngFor="let menuOption of menuOptions"
        mat-ripple
        class="app-menubar-item"
        colspan="1"
        rowspan="1"
        [style]="'display:' + (menuOption.title.length == 0 ? 'none' : 'block')"
        (click)="menuOption.title.length > 0 ? routeTo(menuOption.route) : menuOption.title = ''">
        <span [class]="currentPage === menuOption.route ? 'app-menubar-item-selected' : ''">
          {{menuOption.title}}
        </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="app-login-button" mat-raised-button (click)="routeTo(api.loggedIn ? 'logout' : 'login')">
          {{api.loggedIn ? 'Logout' : 'Login'}}
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="app-mobile-menu">
  <div class="app-header">
    <span>
      <img src="assets/cloud.png" class="app-cloud-icon">
    </span>
    <button mat-button [matMenuTriggerFor]="menu" class="app-hamburger-menu">
      <mat-icon>
        menu
      </mat-icon>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item
          *ngFor="let menuOption of getActiveMenuOptions()"
          (click)="routeTo(menuOption.route)">
    <mat-icon>{{menuOption.icon}}</mat-icon>
    <span>{{menuOption.title}}</span>
  </button>
  <button mat-menu-item (click)="routeTo(api.loggedIn ? 'logout' : 'login')">
    <mat-icon>{{api.loggedIn ? 'logout' : 'login'}}</mat-icon>
    <span>{{api.loggedIn ? 'Logout' : 'Login'}}</span>
  </button>
</mat-menu>

<div class="app-router-outlet">
  <router-outlet></router-outlet>
</div>
