@use 'sass:color'
@import url('https://use.typekit.net/qzp0wjw.css')

// color palette
$white: #ffffff
$light-gray: #eeeeee
$medium-gray: #888888
$dark-gray: #4d4d4d
$darker-gray: #323840
$black: #000000
$green: #86cb62
$blue: #1a9edb
$dark-blue: #2c3c94
$gold: #fabf58
$orangered: #ff9e00
$deepred: #992222

$text-color: $medium-gray
$text-contrast: $white
$text-dark: $dark-gray
$text-selected: $black
$text-menu-select: $dark-blue
$text-warn: $deepred
$text-success: color.adjust($green, $blackness: 30%)
$text-edit: color.adjust($blue, $blackness: 30%)
$text-highlight: color.adjust($gold, $blackness: 10%)
$text-emphasize: color.adjust($text-edit, $blackness: 30%)

$background-default: $light-gray
$background-contrast: $dark-gray
$background-plain: $white
$background-warn: $orangered
$background-success: $green
$background-edit: $blue
$background-highlight: $gold
$background-emphasize: $blue
$background-footer: $darker-gray

// Serve our material icons from this project rather than rely on external google server
@font-face
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: url('assets/maticons.ttf') format('truetype')

.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr

// Override the Roboto font that Angular Material uses everywhere
@font-face
  font-family: 'Roboto'
  font-style: normal
  font-size: 48px
  src: url('assets/ropa-mix-pro.woff') format('woff2')

.placeholder-style
  font-size: 4.0rem
  text-align: center
  margin-top: 20vh
  line-height: 6.5rem

.spin
  animation-timing-function: linear
  animation-name: animation-spin
  animation-duration: 2s
  animation-iteration-count: infinite

.help-icon
  color: $text-color
  font-size: 1.0rem
  float: right
  position: relative
  top: 2px

@keyframes animation-spin
  100%
    transform: rotate(360deg)
