@use 'sass:color'

$temperature01: #000066
$temperature02: #000099
$temperature03: #0000cc
$temperature04: #0000ff
$temperature05: #0033ff
$temperature05: #0066ff
$temperature06: #0099ff
$temperature07: #00ccff
$temperature08: #00ffff
$temperature09: #00ffcc
$temperature10: #00ff99
$temperature11: #00ff66
$temperature12: #00ff00
$temperature13: #66ff00
$temperature14: #99ff00
$temperature15: #ccff33
$temperature16: #ffff66
$temperature17: #ffff33
$temperature18: #ffff00
$temperature19: #ffcc00
$temperature20: #ff9900
$temperature21: #ff6600
$temperature22: #ff3300
$temperature23: #ff0000
$temperature24: #cc0000
$temperature25: #990000
$temperature26: #660000

$precip01: #35120e
$precip02: #5c260c
$precip03: #80441d
$precip04: #986b28
$precip05: #b19130
$precip06: #c8b830
$precip07: #eae8b0
$precip08: #bce4e2
$precip09: #4dc0ae
$precip10: #24aa68
$precip11: #138d44
$precip12: #0d6c38
$precip13: #1d4923
$precip14: #132815

.palette-temperature
  background-image: linear-gradient(90deg, $temperature01, $temperature02, $temperature03, $temperature04, $temperature05, $temperature05, $temperature06, $temperature07, $temperature08, $temperature09, $temperature10, $temperature11, $temperature12, $temperature13, $temperature14, $temperature15, $temperature16, $temperature17, $temperature18, $temperature19, $temperature20, $temperature21, $temperature22, $temperature23, $temperature24, $temperature25, $temperature26)

.palette-moisture
  background-image: linear-gradient(90deg, $precip01, $precip02, $precip03, $precip04, $precip05, $precip06, $precip07, $precip08, $precip09, $precip10, $precip11, $precip12, $precip13, $precip14)
