@use '@angular/material' as mat
@use 'globals' as *


body
  margin: 0
  background: $background-default

a
  color: $text-edit
  text-decoration: none

// Material Design overrides

:root
  @include mat.checkbox-overrides((
    selected-icon-color: $background-edit,
    selected-hover-icon-color: $background-edit,
    selected-focus-icon-color: $background-edit,
    selected-pressed-icon-color: $background-edit,
    selected-checkmark-color: $background-plain,
  ))

:root
  @include mat.slider-overrides((
    handle-color: $background-contrast,
    focus-handle-color: $background-contrast,
    active-track-color: $background-contrast,
    active-track-shape: 16px,
    inactive-track-color: $background-contrast,
    inactive-track-shape: 16px,
  ))

.mat-mdc-radio-button.mat-primary
  @include mat.radio-overrides((
    selected-icon-color: $background-edit,
    selected-hover-icon-color: $background-edit,
    selected-focus-icon-color: $background-edit,
    selected-pressed-icon-color: $background-edit,
    checked-ripple-color: $background-edit,
  ))


// OpenLayers overrides
.ol-attribution.ol-uncollapsible
  display: none

@media screen and ( min-width : 840px )

  .mat-form-field-appearance-fill .mat-form-field-flex
    background-color: $background-plain

