@import globals


body
  margin: 0
  background: $background-default

a
  color: $text-edit
  text-decoration: none

// Material Design overrides
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background
  background-color: $background-edit

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background
  background-color: $background-edit

.mat-slider.mat-primary .mat-slider-track-fill, .mat-slider.mat-primary .mat-slider-thumb, .mat-slider.mat-primary .mat-slider-thumb-label
  background-color: $background-edit

.mat-slider.mat-accent .mat-slider-track-fill, .mat-slider.mat-accent .mat-slider-thumb, .mat-slider.mat-accent .mat-slider-thumb-label
  background-color: $background-edit

.mat-slider-thumb
  background-color: $background-edit !important

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle
  border-color: $background-edit

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-inner-circle
  background-color: $background-edit

.mat-form-field-appearance-fill .mat-form-field-flex
  background-color: $background-default

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled)
  color: $text-menu-select

.mat-dialog-container
  padding: 24px 8px !important

.mat-tree-node
  min-height: unset

// OpenLayers overrides
.ol-attribution.ol-uncollapsible
  display: none

@media screen and ( min-width : 840px )

  .mat-form-field-appearance-fill .mat-form-field-flex
    background-color: $background-plain

