<div class="job-details-button-container">
    <button mat-icon-button class="job-details-cancel-button" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="job-details-title">
  {{data.job.job_id}}
  <span class="job-details-title-status">({{statusCodeToText[data.job.status_code]}})</span>
</div>

<div class="job-details-progress-bar">
  <mat-progress-bar mode="determinate" [value]="data.job.progress * 100"></mat-progress-bar>
  <span>{{data.job.status_message}}</span>
  <span class="job-details-right">{{data.job.progress * 100}}%</span>
</div>

@if (busy) {
  <div class="job-details-busy">
    <mat-icon class="spin">autorenew</mat-icon>
  </div>
}

@if (!busy) {
  <div class="job-details-buttons">
    @if (allowCancel) {
      <button mat-flat-button class="job-details-action-button" (click)="cancelJob()">Cancel Job</button>
    }
    @if (allowDelete) {
      <button mat-flat-button class="job-details-action-button" (click)="deleteJob()">Delete Job</button>
    }
    @if (allowOpen) {
      <button mat-stroked-button class="job-details-action-button job-details-open-button" (click)="openJob()">Viewer</button>
    }
    @if (allowLog) {
      <button mat-stroked-button class="job-details-action-button job-details-logs-button" (click)="openLogViewer()">Logs</button>
    }
  </div>
}

<mat-divider style="margin: 12px 0">
</mat-divider>

<div class="job-details-container">
  @for (item of info; track item) {
    <mat-form-field class="job-details-input">
      <mat-label>{{item.name}}</mat-label>
      <input matInput type="text" disabled="true" [(ngModel)]="item.value">
    </mat-form-field>
  }
</div>
