@import '../../globals'


.job-details-button-container
  padding: 5px

.job-details-container
  display: grid
  font-size: 1rem
  max-height: 75vh
  width: 100vw
  max-width: 500px
  overflow-y: auto

.job-details-title
  font-size: 1.1rem
  font-weight: bold
  margin: 0 0 12px 12px

.job-details-title-status
  color: $dark-gray
  font-style: italic

.job-details-progress-bar
  margin: 0 15px 8px 15px

.job-details-busy
  text-align: center

.job-details-buttons
  margin: 0 15px 16px 15px
  display: grid
  grid-template-columns: 30% 30% 30%
  grid-column-gap: 5%

.job-details-action-button
  background-color: $background-warn
  margin-right: 8px

.job-details-open-button
  background-color: $background-edit
  color: $text-contrast

.job-details-logs-button
  background-color: $background-edit
  color: $text-contrast

.job-details-cancel-button
  float: right
  margin-bottom: 5px

.job-details-input
  font-size: 1.3rem

.job-details-right
  float: right
