@import '../../globals'


.job-details-container
  display: grid
  font-size: 1rem
  max-height: 75vh
  width: 100vw
  max-width: 500px
  overflow-y: scroll

.job-details-title
  font-size: 1.1rem
  font-weight: bold
  margin-bottom: 12px

.job-details-title-status
  color: $dark-gray
  font-style: italic

.job-details-progress-bar
  margin-bottom: 8px

.job-details-busy
  text-align: center

.job-details-buttons
  margin-bottom: 16px

.job-details-action-button
  background-color: $bg-warn
  margin-right: 8px

.job-details-open-button
  background-color: transparent
.job-details-cancel-button
  float: right

.job-details-input
  font-size: 1.3rem

.job-details-right
  float: right

.job-details-row
  margin: 5px 10px
  padding: 0 5px 5px 10px
  text-align: left
  border: 1px solid rgba(0,0,0,0.5)

.job-details-row-header
  display: inline-flex
  position: relative
  top: -8px
  padding: 0 10px
  background-color: #fff
