@import ../../globals


.prefs-container
  width: 100%
  max-width: 800px
  margin: auto

.prefs-section-header
  font-size: 1.25rem

.prefs-password-update
  width: 90%
  margin: auto

.prefs-input-field
  width: 100%
  font-size: 1rem

.prefs-button-container
  display: grid
  max-width: 200px
  margin: 0 auto 15px auto

.prefs-button
  background-color: $accent-blue
  font-size: 1rem

.prefs-error
  width: 100%
  color: $warn
  text-align: center

.prefs-success
  width: 100%
  color: $accent-green
  text-align: center

.prefs-spinner
  text-align: center

@media screen and (min-width: 840px)

  .prefs-container
    margin: 20px auto 0 auto

  .prefs-accordion
    background-image: linear-gradient(rgba(224, 236, 236, 0.8), rgba(156, 163, 165, 0.8))
